<html lang="en-US">
<head>
    <title>Survey Analysis</title>
</head>

<body>
    <h1>Survey analysis</h1>
    <h4>1) Why did you visit Wikipedia?</h4>
    <ul>
    <% for (var i=0; i<results[0].length; i++){ %>
        <li><%= results[0][i].why %></li>
    <% } %>
    </ul>
    <h4>2) Were you able to open the article in your preferred language?</h4>
    <ul>
    <% for (var i=0; i<results[1].length; i++){ %>
        <li><%= results[1][i].language %> :  <%= results[1][i].count %></li>
    <% } %>
    </ul>
    <h4>3) How did you find the article?</h4>
    <ul>
    <% for (var i=0; i<results[2].length; i++){ %>
        <li><%= results[2][i].found %> :  <%= results[2][i].count %></li>
    <% } %>
    </ul>
    <h4>4) Select all portions of the article which you found useful:</h4>
    <ul>
    <% for (var i=0; i<results[3].length; i++){ %>
        <li><%= results[3][i].useful %> :  <%= results[3][i].count %></li>
    <% } %>
    </ul>
    <h4>5) How was your experience with the Wikipedia website?</h4>
    <ul>
    <% for (var i=0; i<results[4].length; i++){ %>
        <li><%= results[4][i].rating %> :  <%= results[2][i].count %></li>
    <% } %>
    </ul>
    <h4>6) What is your overall opinion of this website's UI?</h4>
    <ul>
    <% for (var i=0; i<results[5].length; i++){ %>
        <li><%= results[5][i].overall %></li>
    <% } %>
    </ul>
</body>
</html>
